/* ---- Footer section */
.footer-section {
    padding: 40px;
    background: linear-gradient(135deg, #aeadb0, #fef9ff);
    margin-top: 20px;
}

.footer-flex-box {
    display: grid;
    grid-template-columns: 1.6fr repeat(3, minmax(0, 1fr));
    gap: 32px;
    border-bottom: 1px solid #3f3f41;
    padding-bottom: 18px;
}

.footer-logo-snapfeed {
    height: 32px;
    margin-bottom: 20px;
}

.footer-box p  b {
    font-size: 12px;
    color: #6b4bff;
    max-width: 260px;
}

.footer-box h4 {
    font-size: 14px;
    margin-bottom: 8px;
    color: #6b4bff;
}

.footer-box a {
    display: block;
    font-size: 12px;
    color: #696d76;
    margin-bottom: 5px;
    transition: 0.2s ease;
}

.footer-box a:hover {
    color: #6b4bff;
    transform: scaleY(1.08);
    font-size: 14px;
}

.copyright {
    font-size: 14px;
    text-align: left;
    margin-top: 30px;
    margin-left: 70px;
    color: #6b4bff;
}

/* ---- Responsive Footer ---- */
@media (max-width: 992px) {
    .footer-flex-box {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 768px) {
    .footer-flex-box {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .copyright {
        text-align: center;
        margin-left: 0;
    }
}

